<div class="row ml-0 mr-0">
  <div id="demo" class="col-3 border box-inner collapse show mt-1 px-0">

    <div class="row border-bottom mx-0 mb-0">
      <nav class="navbar navbar-expand-lg py-0 col align-self-end">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pt-25">
            <span type="button" [routerLink]="routeToAddDetails()" class="btn btn-light btn-sm bc-n"><i
                class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
            </span>
          </li>
          <li class="nav-item dropdown">
            <span type="button" class="nav-link btn btn-light btn-sm bc-n" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
            </span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">View Config Backup</a>
              <a class="dropdown-item" href="#">Compare Config Backup</a>
              <a class="dropdown-item" href="#">Create Device Group</a>
              <a class="dropdown-item" href="#">Delete Device</a>
              <a class="dropdown-item" href="#">Schedule Run</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"> Download All Device</a>
            </div>
          </li>
        </ul>
      </nav>
      <i *ngIf="leftDivShow" href="#demo" (click)="leftDivClick()" data-toggle="collapse"
        class="fa fa-caret-left fa-2x pull-right pr-2 pt-2 sticky-div " aria-hidden="true"></i>
    </div>
    <table class="table table-hover table-borderless mb-0 ">
      <tbody>
        <tr class="sticky-div">
          <td colspan="2">
            <div class="input-group input-focus">
              <div class="input-group-prepend">
                <span class="input-group-text " style="background-color: #f8faf9;"><i class="fa fa-search"></i></span>
              </div>
              <input type="search" style="background-color: #f8faf9;" placeholder="Search" id="name"
                (keyup)="filterValues($event)" class="form-control border-left-0">
            </div>
          </td>
          <td class="align-middle">
            <i class="fa fa-sliders fa-lg" aria-hidden="true"></i>
          </td>
        </tr>
        <tr *ngFor=" let indVal of allDevices | filter:searchText">
          <td scope="row"><input type="checkbox" id="{{indVal.deviceId}}"></td>
          <td class="py-1 ">{{indVal.deviceName}} <br> <span class="font-weight-light p-0 m-0"> <small> IP
                :
                {{indVal.deviceIp}} </small> </span> </td>
          <td class="text-nowrap text-right">
            <span *ngIf="indVal.is_enabled === 1" class="text-success"> Enabled</span>
            <span *ngIf="indVal.is_enabled === 0" class="text-muted"> Disabled</span> |
            <span *ngIf="indVal.is_new === 1" class="text-success">Passed </span>
            <span *ngIf="indVal.is_new === 0" class="text-danger">Failed </span>
          </td>
        </tr>
        <tr *ngFor=" let indVal of allDevices | filter:searchText">
          <td scope="row"><input type="checkbox" id="{{indVal.deviceId}}"></td>
          <td class="py-1 ">{{indVal.deviceName}} <br> <span class="font-weight-light p-0 m-0"> <small> IP
                :
                {{indVal.deviceIp}} </small> </span> </td>
          <td class="text-nowrap text-right">
            <span *ngIf="indVal.is_enabled === 1" class="text-success"> Enabled</span>
            <span *ngIf="indVal.is_enabled === 0" class="text-muted"> Disabled</span> |
            <span *ngIf="indVal.is_new === 1" class="text-success">Passed </span>
            <span *ngIf="indVal.is_new === 0" class="text-danger">Failed </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class=" customSlider border-right border-top mt-1" *ngIf="rightDivShow">
    <img src="../../../assets/new-device-slider.png" alt="">
    <i href="#demo" data-toggle="collapse" (click)="rightDivClick()" class="fa fa-caret-right fa-2x"
      aria-hidden="true"></i>
  </div>
  <div class="col outerBox">
    <div class="ml-1 mr-2 mt-1">
      <div class="row border p-3 deviceDetails">
        <div class="col">Device Name <div> <strong>Test_Device5</strong> </div>
        </div>
        <div class="col">IP Address <div> <strong>10.10.20.35</strong> </div>
        </div>
        <div class="col">Backup <div> <strong> <span class="text-success"> Enabled</span> </strong> </div>
        </div>
        <div class="col">Next Run</div>
        <div class="col">Last Run</div>
        <div class="col">Device Vendor</div>
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Edit</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Show Configuration</a>
              <a class="dropdown-item" href="#">Adhoc Request</a>
              <a class="dropdown-item" href="#">Change Schedule</a>
              <a class="dropdown-item" href="#">View Run Log</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-5 border bg-white">
        <div class="col-6">
          <div class="form-group" type="input">
            <label>Device Name</label>
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" type="input">
            <label>Device IP</label>
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Login Type</label>
            <select class="form-control form-control-sm">
              <option>SSH</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" type="input">
            <label>Login User</label>
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" type="input">
            <label>Login Password</label>
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" type="input">
            <label>Port</label>
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Status</label>
            <select class="form-control form-control-sm">
              <option [value]="-1" selected>Select Status
              </option>
              <option *ngFor="let opt of deviceStatus" value="{{opt.id}}">
                {{opt.value}}</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" type="date">
            <label>Next Schedule</label>
            <input type="datetime-local" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" type="date">
            <label>Baseline Configuration Date</label>
            <input type="datetime-local" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Schedule Frequency</label>
            <select class="form-control form-control-sm">
              <option [value]="-1" selected>Select Schedule Frequency
              </option>
              <option *ngFor="let opt of deviceFrequency" value="{{opt.id}}">
                {{opt.value}}</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Device Command (Vendor)</label>
            <select class="form-control form-control-sm">
              <option [value]="-1" selected>Select Device Command (Vendor)
              </option>
              <option *ngFor="let opt of deviceCommand" value="{{opt.commandId}}">
                {{opt.commandName}}</option>
            </select>
          </div>

        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Device Group</label>
            <select class="form-control form-control-sm">
              <option *ngFor="let opt of deviceGroup" value="{{opt.id}}">
                {{opt.groupName}}</option>
            </select>
          </div>
        </div>
        <div class="col-12 mt-4" align="end">
          <button type="reset" class="btn btn-secondary btn-sm col-2">Reset</button>
          <button type="button" class="btn btn-primary btn-sm col-2 ml-3">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>