<div class="row p-2 sticky-div mb-0 bg-white rounded">
  <div class="col text-right">
    <span type="button" [routerLink]="routeToAddDetails()" class="btn btn-light btn-sm"><i
        class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
    </span>
    <span type="button" class="btn btn-light btn-sm"><i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
    </span>
  </div>
</div>

<table class="table table-hover ">
  <tbody>
    <tr>
      <td colspan="2">
        <div class="input-group input-focus">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white"><i class="fa fa-search"></i></span>
          </div>
          <input type="search" placeholder="Search" id="name" (keyup)="filterValues($event)"
            class="form-control form-control-sm border-left-0">
        </div>
      </td>
      <td>
        <i class="fa fa-sliders pl-5 align-middle" aria-hidden="true"></i>
      </td>
    </tr>
    <tr  *ngFor=" let indVal of allDevices | filter:searchText">
      <td  class="py-1" scope="row"><input type="checkbox" id="{{indVal.deviceId}}"></td>
      <td class="py-1">{{indVal.deviceName}} <br> <span class="font-weight-light p-0 m-0"> <small> IP : {{indVal.deviceIp}} </small>  </span> </td>
      <td class="text-nowrap py-1"> 
        <span *ngIf="indVal.is_enabled === 1" class="text-success"> Enabled</span> 
        <span *ngIf="indVal.is_enabled === 0" class="text-muted"> Disabled</span> | 
        <span *ngIf="indVal.is_new === 1" class="text-success">Passed </span>
        <span *ngIf="indVal.is_new === 0" class="text-danger">Failed </span>
      </td>
    </tr>
  </tbody>
</table>