/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* orange theme- main-#ec882a, primary-#ec8e3c, primary-on-hover-#ce6a0c, secondary-#f4ddca  */

:root {
  --background: #eeeeee;
  --background-secondary: #f6f9f7;
  --menu-background-secondary: #d6ebe6;
  --primary: #234e54;
  --btn--primary: #0e7c86;
  --on-primary: #193f44;
  --secondary: #d7efe3;
  --on-secondary: #87bea2;
  --font-color: #757575;
  --white: #ffffff;
  --container-background-secondary: #ebebeb;
}

body {
  font-size: smaller;
}

html,
body {
  height: 96.3%;
  color: var(--font-color);
}

:root input:focus,
textarea:focus,
button.dropdown-toggle:focus {
  box-shadow: none !important;
}

.box-inner {
  background-color: var(--white);
}
.form-group .form-control {
  border: none;
  border-radius: 0;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px;
}

.form-group label {
  font-weight: 600;
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.deviceDetails {
  background-color: #f5f5f5 !important;
  height: 70px;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--primary) transparent;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.sideMenu:hover {
  background-color: var(--menu-background-secondary);
}

.sideMenuBar {
  float: left;
  width: 60px;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: var(--background-secondary);
}

.rightContainer {
  background-color: var(--container-background-secondary);
  margin-left: 60px !important;
  min-height: 100%;
}
.is-active {
  background-color: var(--menu-background-secondary);
}

.is-active:hover {
  background-color: var(--menu-background-secondary);
}

.customSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

a {
  color: var(--primary);
}

.theme-login-orange,
.theme-header-orange,
.theme-selector-orange {
  background: var(--primary);
}

.btn-primary {
  background: var(
    --btn--primary
  ); /* ec8e3c #3d86c6  - blue theme primary color */
  background-color: var(--btn--primary);
  border-color: var(--btn--primary);
  color: #ececec;
}

.btn-secondary {
  background: var(--secondary); /* ec8e3c #3d86c6  - blue theme primary color */
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: #4b4949;
}

.btn-primary:hover {
  background: var(--on-primary) !important;
  background-color: var(--on-primary) !important;
  border-color: var(--on-primary) !important;
}

.btn-secondary:hover {
  background: var(--on-secondary) !important;
  background-color: var(--on-secondary) !important;
  border-color: var(--on-secondary) !important;
  color: #4b4949;
}

.theme-color-secondary {
  background: var(--secondary); /*f4ddca 91a3cc - blue theme secondary color*/
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.div-home {
  height: 95vh;
  background-color: var(--background);
  color: var(--font-color);
  max-width: 100%;
  padding: 7%;
}

.home-logo-div {
  background-color: var(--background);
}

.sticky-div {
  position: sticky;
  top: 0;
  background-color: var(--white);
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: var(--primary) 2px solid;
}

.dropdown-menu {
  font-size: 12px;
}

.clearfix {
  clear: both;
}
.pointer {
  cursor: pointer;
}
.ucfirst {
  text-transform: capitalize;
}
.min300 {
  min-height: 300px;
}

.app-box {
  padding: 10px;
  margin-bottom: 20px;
  height: 230px;
  background: #b5e8d4;
  overflow: hidden;
  box-shadow: 1px 1px 4px #ccc;
}
.app-box:hover {
  box-shadow: 1px 1px 4px #999;
}
.app-box .remove {
  position: absolute;
  right: 21px;
  top: 0px;
  color: #545454;
  display: none;
}
.app-box:hover .remove {
  display: block;
}
.inline-btn {
  background: #00b970;
  padding: 1px 5px;
  color: white;
  display: inline-block;
  margin-bottom: 5px;
}
.box {
  padding: 10px;
  margin-bottom: 10px;
  overflow: auto;
  box-shadow: 1px 1px 4px #ddd;
}
/* .form-group .form-control {
  font-size: inherit;
  background-color: inherit;
} */

.dndDropArea {
  padding: 10px;
  /* border: dotted #ddd 2px; */
}

.dndDropArea.empty {
  min-height: 200px;
  border: dotted #ddd 2px;
}

.field {
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
}
.field:hover {
  box-shadow: 1px 1px 4px #ddd;
}
.toggle-Wrapper {
  padding: 15px;
  background: #d6d6d629;
}
.dndHandle {
  cursor: pointer;
  color: #999;
}
.dndDraggingSource {
  opacity: 0.3;
}
.dndPlaceholder {
  background: rgb(206, 238, 238);
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 10px;
}
.field .fa {
  width: 20px;
  text-align: center;
  font-size: 20px;
}
.red {
  color: #d9534f;
}
.fa-trash {
  color: #d9534f;
}
.marginT60 {
  margin-top: 60px;
}

.color-red {
  color: red;
}
.report-block {
  padding: 10px;
  background: #f8f8f8;
  margin-bottom: 20px;
}
.report-block .row:nth-child(even) {
  background: #fff;
}

.ftheme {
  width: 100%;
}

.dndDropArea .field .fa {
  opacity: 0;
}
.dndDropArea .field:hover .fa {
  opacity: 1;
}

.colorpick {
  height: 25px;
  background: white;
  border: none;
}
