<div class="home-logo-div">
  <img src="../../assets/netsetgo-home-logo.png" class="img-fluid" alt="">
</div> 
<div class="div-home">
    <div class="row">
      <div class="col-3">
        <div class="card card-block" routerLink="/planning">
          <div class="card-body text-center">
            <img src="../../assets/planning-icon.png" class="img-fluid" alt="">
            <div style="text-transform: uppercase;">planning
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card card-block" routerLink="/planning">
          <div class="card-body text-center">
            <img src="../../assets/module-icon.png" style="padding-bottom: 28px;" class="img-fluid" alt="">
            <div style="text-transform: uppercase;">modelling
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card card-block" routerLink="/planning">
          <div class="card-body text-center">
            <img src="../../assets/module-icon.png" style="padding-bottom: 28px;" class="img-fluid" alt="">
            <div style="text-transform: uppercase;">user administration
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card card-block" routerLink="/planning">
          <div class="card-body text-center">
            <img src="../../assets/module-icon.png" style="padding-bottom: 28px;" class="img-fluid" alt="">
            <div style="text-transform: uppercase;">fault workflow
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-3">
        <div class="card card-block" routerLink="/configuration">
          <div class="card-body text-center">
            <img src="../../assets/module-icon.png" style="padding-bottom: 28px;" class="img-fluid" alt="">
            <div style="text-transform: uppercase;">configuration
            </div>
          </div>
        </div>
      </div>
    </div>
</div>